#root {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
  }


.parallax1 {
    min-height: 1200px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../components_css/assets/delivery.jpg');
    filter: brightness(70%);
}



.text-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 40%;
}

.highlight {
    color: white;
    font-weight: bold;
    background-color: var(--bg-color);
    border-radius: 9px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.highlight-2 {
    color: rgb(255, 187, 61);
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
}

.highlight-3 {
    color: #b82c2c;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
}

.text-main-p {
    font-size: 1.5rem;
    font-family: 'Questrial', sans-serif;
    padding: 10px;
}

h1 {
    font-size: 3.5em;
    line-height: 1.1;
    text-align: center;
    padding: 10px;
    font-family: 'Questrial', sans-serif;
    color: white;
    text-shadow: 2px 2px 2px #000000a2;
}

h2 {
    font-size: 1.6em;
    line-height: 1.1;
    text-align: center;
    padding: 10px;
    font-family: 'Questrial', sans-serif;
    color: white;
    text-shadow: 2px 2px 2px #000000a2;
}



.btn-main {
    background-color: var(--bg-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Questrial', sans-serif;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.16s;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    width: 250px;
    height: 30px;
    font-weight: 700;
}

.btn-main:hover {
    background-color: #ff4d4d;
    text-decoration: none;
    transform: scale(1.05);
}


.btn-main:focus {
    outline: none;
}


.content-wave {
    position: relative;
    width: 100%;
    height: 15%;
    top: -400px;
}

.content-text {
    color: white;
    background-color: var(--bg-color);
    font-size: 1rem;
    text-align: center;
    padding: 10px;
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    margin-top: -20px;

}

.content-text p {
    width: 30%;
    margin: 40px;
    background-color: #b82c2c;
    border-radius: 20px;
    padding: 15px;
    font-size: 1.4rem;
    font-family: 'Questrial', sans-serif;

}

.content-images {
    position: relative;
    top: -500px;
}

.content-images img {
    width: 45%;
    height: 45%;
    object-fit: cover;
    filter: brightness(70%);
    border-radius: 20px;
}

.carousel {
    display: flex;
    justify-content: right;
    align-items: right;
    margin-right: 50px;

}

.carousel img {
    border-radius: 20px;
    z-index: 1000;
}

.service-wave {
    position: absolute;
    z-index: 100;
    top: 100px;

}
.services-section
{
    position: relative;
    top: -200px;
}
.services-section h1 {
    font-size: 3.5em;
    line-height: 1.1;
    text-align: center;
    padding: 10px;
    font-family: 'Questrial', sans-serif;
    color: #141414;
    text-shadow: 2px 2px 2px #000000a2;
}
.service {
    width: 20%;
    height: auto;
    background-color: #b82c2ccc;
    border-radius: 25px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    box-shadow: 0px 0px 20px #1f1515a2;
    transition: transform 0.16s;
    cursor: pointer;
}

.service:hover {
    transform: scale(1.05);
}

.service:focus {
    outline: none;
}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.services-text {
    position: relative;
   color: #222;
    font-size: 1.5rem;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    font-weight: 900;
    top: -200px;
}
.brands-section {
    position: relative;
    top: -100px;
    color: #222;
    font-size: 1.5rem;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    padding: 10px;
}
.brands-section h1 {
    font-size: 3.5em;
    line-height: 1.1;
    text-align: center;
    padding: 10px;
    font-family: 'Questrial', sans-serif;
    color: #141414;
    text-shadow: 2px 2px 2px #000000a2;
}

.brand img {
    width: 170px;
    height: 170px;
    object-fit: contain;
}

.brand {
    margin: 10px;
    filter: drop-shadow(0px 0px 10px #000000a2);
    transition: transform 0.16s;
    cursor: pointer;
  }


.brands {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    background-color: #b82c2ccc;
    border-radius: 15px;
}

.contact-section {
    position: relative;
}
.contact-section a { 
    display: block;
    width: 10%;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 30px;

}

.contact-section h1 {
    font-size: 3.5em;
    line-height: 1.1;
    text-align: center;
    padding: 10px;
    font-family: 'Questrial', sans-serif;
    color: #141414;
    text-shadow: 2px 2px 2px #000000a2;
}

summary {
    font-size: 1.5rem;
    font-family: 'Questrial', sans-serif;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-weight: 900;
    cursor: pointer;
    transition: transform 0.16s;
    background-color: var(--bg-color);
    border-radius: 15px;
}

details {
    display: block;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}
